.header {
    background-color: transparent;
    display: flex;
    height: 70px;
    margin-bottom: 40px;
}

span {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    width: 120px;
    height: 40px;
    justify-content: center;
    border: 2px solid rgb(25, 190, 141);
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
}

.button-contact {
    width: 150px;
    height: 43px;
    margin-left: 70px;
    font-family: 'Open Sans';
    background-color:  rgb(25, 190, 141);
    font-size: 14px;
    font-weight: 800;
}

a.active{
    border-bottom: 4px solid rgb(25, 190, 141);
}