.header {
    background-color: transparent;
    height: 50px;
    margin-bottom: 70px;
    padding-top: 50px;
}

span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

p {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
}

.button-contact {
    width: 150px;
    height: 43px;
    margin-left: 70px;
    font-family: 'Open Sans';
    background-color:  rgb(25, 190, 141);
    font-size: 14px;
    font-weight: 800;
}

.i {
    color: rgb(25, 190, 141) !important;
    transform: scale(1.4);
}

p.active{
    border-bottom: 4px solid rgb(25, 190, 141);
    padding-top: 4px;
}

.button-contact:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 660px) {
    .header {
        height: auto;
        margin-left: 0;
        display: block;
    }

    .menu-button {
        flex-direction: column;
        gap: 25px;
        position: relative;
        margin-top: 50px;
    }

    .button-contact {
       margin-left: 0;
    }
}
  