<p>Projetos Pessoais</p>
<div class="box">
    <div class="c Mine">
        <h1>MineCraft-Login</h1>
        <a href="https://github.com/ElielElanoChavesSilva/Projetos-Codelandia-_HTML-CSS/tree/main/ProjetoMINE" target="_blank">
            <button class="Btn" mat-button>Git hub</button>
        </a>
    </div>
    <div class="c Loki">
        <h1>Loki-Trailer</h1>
        <a href="https://github.com/ElielElanoChavesSilva/Projetos-Codelandia-_HTML-CSS/tree/main/ProjetoLoki" target="_blank">
            <button class="Btn" mat-button>Git hub</button>
        </a>
    </div>
    <div class="c Imc">
        <h1>Calculadora-Imc</h1>
        <a href="https://github.com/ElielElanoChavesSilva/Projetos-Codelandia-_HTML-CSS/tree/main/Calculadora-IMC" target="_blank">
            <button class="Btn" mat-button>Git hub</button>
        </a>
    </div>
    <div class="c Angular">
        <h1>Produto CRUD</h1>
        <a href="https://github.com/ElielElanoChavesSilva/Angular" target="_blank">
            <button class="Btn" mat-button>Git hub</button>
        </a>
    </div>
</div>    

