<p>Projetos Pessoais</p>
<div class="box">
    <div>
        <h1>MineCraft-Login</h1>
        <div class="div Mine" (click)="LinkMine()">
            <img src="./../../../assets/img/Mine">
        </div>
    </div>
    <div>
        <h1>Loki-Trailer</h1>
        <div class="div Loki" (click)="LinkLoki()">
            <img src="./../../../assets/img/Loki">
        </div>
    </div>
    <div>
        <h1>Calculadora-Imc</h1>
        <div class="div Imc" (click)="LinkImc()">
            <img src="./../../../assets/img/Imc.jpg">
        </div>
    </div>
    <div>
        <h1>Produto CRUD</h1>
        <div class="div Crud" (click)="LinkCrud()">
            <img src="./../../../assets/img/CRUD">
        </div>
    </div>
</div>    

