<div class="data">
    <p><strong>Celular:</strong> (14)982118732 </p>   
    <p><strong>Cidade:</strong> Barra Bonita-SP</p>
    <strong>E-mail:</strong><a href="mailto:elielelano7@gmail.com"> Elielelano7@gmail.com</a>
    <div class="buttons">
        <button class="Links" mat-button>
            <a href="https://github.com/ElielElanoChavesSilva" target="_blank">
                <img src="../../../assets/img/GitHub.png">
                <h3>GitHub</h3>
             </a>    
        </button>
        <button class="Links" mat-button>
            <a href="https://www.linkedin.com/in/eliel-elano-chaves-silva-78608524b/" target="_blank">
                <img src="../../../assets/img/Linkedin.avif">
                <h3>Linkedin</h3>
            </a>    
        </button>
    </div>
</div>
