<h1>Habilidaes em Desenvolvimento</h1>
<div class="habily">
    <div class="img HTML">
      <img src="../../../assets/img/HTML.png" alt="Logo/HTML">
      HTML
      <p>Frontend</p>
    </div>
    <div class="img JS">
        <img src="../../../assets/img/JS.png" alt="Logo/JS">
        JavaScritp
        <p>Frontend</p>
    </div>
    <div class="img CSS">
        <img src="../../../assets/img/CSS.png" alt="Logo/CSS">
        CSS
        <p>Frontend</p>
    </div>
    <div class="img Angular">
        <img src="../../../assets/img/Angular.png" alt="LogoAngular">
        Angular
        <p>Frontend</p>
    </div>
    <div class="img GitHub">
        <img src="../../../assets/img/GitHub.png" alt="Logo/GitHub">
        GitHub
        <p>Versionamento</p>
    </div>
</div>
