<article>
    <img src="../../../assets/img/Ft.jpg" alt="Foto">
    <div class="primary DG">
        <h1 class="txt1 fontOpenS">Olá, meu nome é</h1>
        <p>Eliel Elano Chaves Silva</p>
        <h1 class="txt2 fontOpenS">tenho 19 anos e atualmente sou estudande de Desenvolvimento de Sistemas na Etec. Gosto de me manter atualizado sobre as tendências e tecnologias mais recentes no campo do desenvolvimento web, procurando sempre aprimorar minhas ideias e conhecimento.</h1>
        <a class="download DF fontOpenS" href="https://docs.google.com/document/d/1k_R2KfcUO-L6s5gs4I9gCa9s7xYPsHiM/edit" target="_blank">
            DOWNLOAD CV
        </a>
    </div>
</article