<article>
    <img class="img" src="../../../assets/img/Ft.jpg" alt="Foto">
    <div class="primary DG">
        <h1 class="txt1 fontOpenS">Olá, meu nome é</h1>
        <p>Eliel Elano Chaves Silva</p>
        <h1 class="txt2 fontOpenS">tenho 20 anos e atualmente sou um estudande de Tecnologia da Informação na UNIVESP. Gosto de me manter atualizado sobre as tendências e tecnologias mais recentes no campo do desenvolvimento, procurando sempre aprimorar minhas ideias e conhecimento.</h1>
        <button (click)="Down()" mat-button class="DF fontOpenS">
            DOWNLOAD CV
        </button>
    </div>
</article>