<article>
    <img src="../../../assets/img/Ft.jpg" alt="Foto">
    <div class="primary">
        <p>Eliel Elano</p>
        <h1>Olá, meu nome é Eliel Elano Chaves Silva, tenho 19 anos e atualmente sou estudande de Desenvolvimento de Sistemas na Etec. Gosto de me manter atualizado sobre as tendências e tecnologias mais recentes no campo do desenvolvimento web, procurando sempre aprimorar minhas ideias e conhecimento.</h1>
        <a href="https://docs.google.com/document/d/1k_R2KfcUO-L6s5gs4I9gCa9s7xYPsHiM/edit" target="_blank">
            <button class="download" mat-button >DOWNLOAD CV</button>
        </a>
    </div>
</article>